/* Change restricted content width
.wy-nav-content {
    max-width: none;
}*/
/* Colour wy menu headings */
.wy-menu-vertical header, .wy-menu-vertical p.caption{
    color: #3a7ca8;
}
/* Style for arg parser text */
.argstyle  dl:not(.docutils) dt {
    display: table;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    padding: 6px;
    position:relative
}
