<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/Savu/mpi/dls/framework_file_test_launcher.sh}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-f process06.nxs -n CPU0,CPU1,CPU2,CPU3,CPU4,CPU5,GPU0,GPU1"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/dls/tmp/ssg37927/cluster"/>
</launchConfiguration>
