name: savu_full_tests

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # 18.04 supports CUDA 10.1+ (gxx <= 8)
          - os: ubuntu-18.04
            cuda: "10.1"
            gcc: 8
          # 16.04 supports CUDA 8+
          #- os: ubuntu-16.04
          #  cuda: "10.1"
          #  gcc: 7
          #- os: ubuntu-16.04
          #  cuda: "9.2"
          #  gcc: 7
          #- os: ubuntu-16.04
          #  cuda: "9.1"
          #  gcc: 6
      max-parallel: 5
    env:
      build_dir: "build"
      config: "Release"
    steps:
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: latest
        activate-environment: savu
        python-version: 3.7
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Installing savu-lite
      shell: bash -l {0}
      run: |
        conda activate /usr/share/miniconda3/envs/savu
        conda install --yes --name savu --file ./install/savu_lite37/spec-savu_lite_latest.txt
        python setup.py install
        conda list

    - name: Running savu_full_tests
      shell: bash -l {0}
      run: |
        conda activate /usr/share/miniconda3/envs/savu
        python ./scripts/configurator_tests/refresh_process_lists_test.py
        savu_full_tests
